<div class='col-sm-10 col-sm-offset-1'>
  <div class='message-show'>
    <h2><%= @message.title %></h2>
    <p class='message-posted-by'>
      <%= time_ago_in_words(@message.created_at) %>
    </p>
    <p class='message-desc'>
      <%= @message.description %>
    </p>

    <h3 class='comment-section-header'>
      Comments:
    </h3>
    <p><%= render @message.root_comments %></p>

    <h3 class='reply-to-msg'>Join Discussion:</h3>
    <%= render 'comments/form' %>

    <div class='links btn-group'>
      <%= link_to 'Back', root_path, class: 'btn btn-default' %>
      <%= link_to 'Edit', edit_message_path, class: 'btn btn-default' %>
      <%= link_to 'Delete', message_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
  </div>
</div>
